<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coins</title>
  </head>
  <h1>enter the total value you should receive in change</h1>
  <body>
    <form action="/result">
      <label for="changeToGet">enter value</label>
      <input type="number" name="changeToGet" placeholder="$">
      <button type="submit" name="button">Calculate!</button>
    </form>
  </body>
</html>
